<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <title>mi777 admin</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.3.0/rxjs.umd.min.js" integrity="sha512-y3JTS47nnpKORJX8Jn1Rlm+QgRIIZHtu3hWxal0e81avPrqUH48yk+aCi+gprT0RMAcpYa0WCkapxe+bpBHD6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="./style.css" />
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.css" />
</head>

<body>
  <!-- <div id="firebaseui-auth-container"></div> -->
  <!-- <div id="loader">Loading...</div> -->
  <div id="app">
    <header id="app-header">
      <div id="header-top">
        <div id="app-header-left"></div>
        <div id="app-header-center">
          <h1>mi777 Admin</h1>
        </div>
        <div id="app-header-right"></div>
      </div>
      <div id="header-bottom">
        <div id="app-nav">
          <router-link to="/" class="app-button">HOME</router-link>
          <router-link to="/search" class="app-button">SEARCH</router-link>
          <router-link to="/tokens" class="app-button">TOKENS</router-link>
          <router-link to="/users" class="app-button">USERS</router-link>
          <router-link to="/orders" class="app-button">ORDERS</router-link>
        </div>
      </div>
    </header>
    <section id="app-body">
      <div id="view-title">{{ currentPath }}</div>
      <router-view></router-view>
    </section>
    <!-- <footer id="app-footer">
      <div class="container">
        footer
      </div>
    </footer> -->
  </div>

  <script type="importmap">
    { 
      "imports": {
        "vue":               "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.esm-browser.prod.js",
        "vue-router":        "https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.1.6/vue-router.esm-browser.min.js",
        "@vue/devtools-api": "https://unpkg.com/@vue/devtools-api@6.4.5/lib/esm/index.js"
      } 
    }
  </script>
  <script src="./script.js" type="module"></script>

  <template id="home-view-template">
    <div>
      <div id="home-view">
        <section v-for="coll in ['Tokens', 'Users', 'Orders']" id="token-stats" class="stats-card">
          <div class="stats-card-title">{{coll}}</div>
          <div class="stats-card-fields">
            <div v-for="i in 4" class="field-group">
              <div class="field-group-name">Total Owned</div>
              <div class="field-group-value">{{i}}</div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </template>

  <template id="data-card-template">
    <section class="data-card">
      <div class="data-card-title">{{coll}}</div>
      <div class="data-card-items">
        <div v-for="i in 4" class="field-group">
          <div class="field-group-name">Total Owned</div>
          <div class="field-group-value">{{i}}</div>
        </div>
      </div>
    </section>
  </template>

  <template id="full-data-template">
    <div>
      <div id="data-cards">
        <section v-for="coll in ['Tokens', 'Users', 'Orders']" id="token-stats" class="stats-card">
          <div class="stats-card-title">{{coll}}</div>
          <div class="stats-card-fields">
            <div v-for="i in 4" class="field-group">
              <div class="field-group-name">Total Owned</div>
              <div class="field-group-value">{{i}}</div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </template>

  <template id="field-group-template">
    <div class="field-group">
      <div class="field-group-name">{{name}}</div>
      <div class="field-group-value">{{value}}</div>
    </div>
  </template>

  <template id="search-view-template">
    <div>
      <div id="search-view" class="view">
        <div class="form-container">
          <search-form />
        </div>
      </div>
    </div>
  </template>

  <template id="search-form-template">
    <div>
      <div id="search-form" class="container">
        <div class="form-group">
          <label for="collection-select">Collection</label>
          <select v-model="collectionSelection" c_hange="handleCollectionSelectionChange" name="collection-select" id="collection-select">
            <option disabled value="">Please select one</option>
            <option value="tokens">Tokens</option>
            <option value="users">Users</option>
          </select>
        </div>
   
        <div class="form-group">
          <label for="search-field-input">Search Field</label>
          <input v-model="searchField" type="text" name="search-field-input" id="search-field-input" value="" />
        </div>
        <!-- <div class="form-group">
          <label for="search-operator-input">Search Operator</label>
          <input v-model="searchOperator" type="text" name="search-operator-input" id="search-operator-input" value="" />
        </div> -->
      
           <div class="form-group">
          <label for="operator-select">operator</label>
          <select v-model="operatorSelection" c_hange="handleCollectionSelectionChange" name="operator-select" id="operator-select">
            <option disabled value="">Please select one</option>
            <option value="==">Equals</option>
            <option value="!=">Not Equal</option>
          </select>
        </div>
   
      
        <div class="form-group">
          <label for="search-value-input">Search Value</label>
          <input v-model="searchValue" type="text" name="search-value-input" id="search-value-input" value="" />
        </div>

        <div class="form-group">
          <input @click="handleSearchSubmit" type="submit" name="search-submit" id="search-submit" value="kew" />
        </div>
      </div>
    </div>
  </template>

  <template id="token-template">
    <div>
      <div class="token list-item">
        <div class="item-title">Token #{{ token.id }}</div>
        <div class="item-fields">
          <!-- <div class="field-group">
            <div class="field-group-name">Token ID</div>
            <div class="field-group-value">{{ token.tokenId }}</div>
          </div> -->
          <div class="field-group">
            <div class="field-group-name">Owner</div>
            <div class="field-group-value wallet-value">{{ token.owner }}</div>
          </div>
          <!-- <div class="field-group">
            <div class="field-group-name">Jersey Size</div>
            <div class="field-group-value">{{ token.jerseySize }}</div>
          </div> -->
          <!-- <div class="field-group" v-if="!!token.shippingAddress">
            <div class="field-group-name">Shipping Address</div>
            <div class="field-group-value"></div>
            <div class="field-group-value">{{ order.shippingAddress }}</div>
          </div> -->
          <!-- <div class="field-group" v-if="!!token.created">
            <div class="field-group-name">Created</div>
            <div class="field-group-value">{{ token.created.toDate().toLocaleDateString() + ' ' + token.created.toDate().toLocaleTimeString() }}</div>
          </div> -->
          <div class="field-group">
            <div class="field-group-name">Modified</div>
            <div v-if="!!token.modified" class="field-group-value">{{ token.modified.toLocaleDateString() + ' ' + token.modified.toLocaleTimeString() }}</div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="order-template">
    <div>
      <div class="order list-item">
        <div class="item-title">Order #{{ order.id }}</div>
        <div class="item-fields">
          <div class="field-group">
            <div class="field-group-name">Token ID</div>
            <div class="field-group-value">{{ order.tokenId }}</div>
          </div>
          <div class="field-group">
            <div class="field-group-name">Status</div>
            <div class="field-group-value">{{ order.status }}</div>
          </div>
          <div class="field-group">
            <div class="field-group-name">Jersey Size</div>
            <div class="field-group-value">{{ order.jerseySize }}</div>
          </div>
          <div class="field-group" v-if="!!order.shippingAddress">
            <div class="field-group-name">Shipping Address</div>
            <div class="field-group-value"></div>
            <!-- <div class="field-group-value">{{ order.shippingAddress }}</div> -->
          </div>
          <div class="field-group" v-if="!!order.created">
            <div class="field-group-name">Created</div>
            <div class="field-group-value">{{ order.created.toDate().toLocaleDateString() + ' ' + order.created.toDate().toLocaleTimeString() }}</div>
          </div>
          <div class="field-group" v-if="!!order.modified">
            <div class="field-group-name">Modified</div>
            <div class="field-group-value">{{ order.modified.toDate().toLocaleDateString() + ' ' + order.created.toDate().toLocaleTimeString() }}</div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="tokens-view-template">
    <div>
      <div class="list">
        <token-item v-for="(token, index) in tokens" :token="token" />
      </div>
      <!-- <div v-for="(token, index) in tokens" class="token item">
        <div class="item-title">
          token #{{token.id}}
        </div>
        <pre>
        {{JSON.stringify(token, null, 2).trim()}}
        </pre>
      </div> -->
    </div>
  </template>

  <template id="orders-view-template">
    <div>
      <div id="orders-view" class="view">
        <div class="list">
          <order-item v-for="(order, index) in orders" :order="order" />
        </div>
      </div>
    </div>
  </template>

  <template id="users-view-template">
    <div>
      <div id="users-view">
        <div v-for="(user, index) in users" class="user item">
          <div class="item-title">
            User #{{index}}
          </div>
          <pre>
          {{JSON.stringify(user, null, 2).trim()}}
          </pre>
        </div>
      </div>
    </div>
  </template>

  <!-- <template>
    <div id="home-view">
      <div>
        HOME
      </div>
    </div>
  </template> -->
</body>

</html>